<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${'Название: ' + book.getName()}" id = "name">VALUE</p>
<p th:text="${'Автор: ' + book.getAuthor()}" id = "author">VALUE</p>
<p th:text="${'Год: ' + book.getYear()}" id = "year">VALUE</p>

<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить"/>
</form>

<form th:method="GET" th:action="@{/books}">
    <input type="submit" value="Вернуться"/>
</form>

</body>
</html>